
/*Estilos da página Index.html*/

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cabecalho{
  color: rgb(255, 255, 255);
  background: rgba(255,255,255,.2);
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
 
}

.painel{
  margin: 100px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:baseline;
}
.list01{
  flex-direction: column;
  background: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 10px;
}

.list02{
  flex-direction: column;
  background: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 10px;
}

.list03{
  background: rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 10px;
}
.material-symbols-outlined {
  justify-content: space-around;
}

h1{
  text-align:center;
}

h2 {
  text-align:center;
}

h3{
  margin: 10px;
  display: flex;
  justify-content: center;

}

ul{
  margin-top: 10px;
  list-style: none;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: flex-end;
}
section{
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
  background-size: 400% 400%;
  animation: animate 7.5s ease-in-out infinite;
 
}



@keyframes animate{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

/*Estilos da página contato.html*/

.contato{
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
  background-size: 400% 400%;
  animation: animate 7.5s ease-in-out infinite;
 
}

.cont01{
  margin:50px;
  display: flex;
  flex-direction:column;
  justify-items: center;
}

.cont02{
 
  display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
 
}
